
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </haed>
  <body>
    <h1>Welcome to Flight-Booker, <%= @passenger.name %></h1>
    <p>
      You have successfully booked a ticket on Flight-Booker.example.com.<br>
    </p>
    <p>
      To view your booking details, follow this link: <%= @url %>.
    </p>
    <p>Thanks for booking through us and have a great day!</p>
  </body>
</html>
